.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .logo p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .nav-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .visualizar-usuarios-container {
    padding: 20px;
  }
  
  .lista-usuarios {
    margin-top: 20px;
  }
  
  .usuario-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .usuario-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  .usuario-item select {
    padding: 5px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select:focus {
    outline: 2px solid #ffcc00;
  }
  
  .btn-toggle {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btn-toggle:focus {
    outline: 2px solid #ffcc00;
  }
  

